services:
  apache:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: kdi-jdih-laravel-app
    restart: unless-stopped
    ports:
      - "8010:80"
    volumes:
      - ./:/var/www/html
    networks:
      - shared-mysql-net

networks:
  shared-mysql-net:
    external: true
